.choice > a {
    color: black;
    text-decoration: none; 
}
.choice > a:hover { 
    color: lightblue;
}

div.menu {
    z-index: 10;
    position: fixed;
    left: 3%;
    top: 50%;
    transform: translateY(-50%) rotate(180deg);
}

.choice { display: none }
div.menu:hover { height: 100%; }
div.menu:hover .choice { display: initial; }
div.menu:hover .header  { display: none; }


.vertical-rl {
    writing-mode: vertical-rl;  
}

html, body {
    position: fixed;
    overflow: scroll;
    padding: 0;
    margin: 0;
    width: 100%;
    font-family: georgia;
    height: 100%;
    max-width: 100%;
}


.p-3 {
    padding: 3%  5%;
}

.p-1 {
    padding: 1% 5%;
}

.p-5 {
    padding: 5%;
}

.fixed {
    position: fixed;
}

.absolute {
    position: absolute;
}

.pos-right {
    right: 0;
    width: 50%;
}

.pos-left {
    left: 0;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.inline-block {
    display: inline-block;

}

.pointer {
    cursor: pointer;
}

.button {
    width: 14%;
    padding: 2%;
    margin: 2% 1%;
    border-radius: 0.5em 0.5em;
    border: solid thin transparent;
}

.button:hover {
    border: solid thin lightblue;
}

.ison {
    background: lightblue;
}

.border { 
    border: solid thin black;
}

.w-40 { width: 40%; }

.relative {
    position: relative;
}

.max-wh {
    max-width: 80%;
    max-height: 80%;
}

.center-vertical {
    top: 50%;
    transform: translateY(-50%);
}

.svg {
    height: 40vw;
    width: 100%;
}


.pl-7 {
    padding-left: 8%;
}

.pr-7 {
    padding-right: 8%;
}

circle:hover 
    { transition: 0.1s }

circle {
    transition: 0.75s;
    stroke: gray;
    fill: gray;
    fill-opacity: 0.2;
}

circle.currimg {
    fill: lightblue;
    stroke: black;
    fill-opacity: 0.8;
}


.no-dec, .no-dec:hover {
    text-decoration: none;
    color: black;
}

.disclaimer {
    position: fixed;
    bottom: 3vh;
    left: 50%;
    transform: translateX(-50%);
    font-size: 80%;
    color: #999;
}